.tw-followCard {
  display: flex;
  align-items: center;
  color: #fff;
  font-size: 0.8rem;
  /* padding: 0.5em; */
  justify-content: space-between;
}

.tw-followCard-header {
  display: flex;
  align-items: center;
  gap: 4px;
  padding-right: 1em;
}

.tw-followCard-avatar {
  width: 48px;
  height: 48px;
  border-radius: 1000px;
}

.tw-followCard-info {
  display: flex;
  flex-direction: column;
}

.tw-followCard-infoUserName {
  opacity: 0.6;
}

.tw-followCard-button {
  border: 1px #000000 solid;
  border-radius: 30px;
  padding: 6px 16px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s ease background-color;
}

.tw-followCard-button:hover {
  background-color: #0066ff;
}

.tw-followCard-button.isFollowing {
  background-color: #000000;
  color: #fff;
}

.tw-followCard-button.isFollowing:hover {
  background-color: rgb(255, 0, 0);
}

.Mar {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
